@import '../constants/colours.scss';
.settings {
    height: 3em;
    width: 3em;
    border: none;
    border-radius: 100%;
    background-color: $black-custom;

    &:hover {
        background-color: rgba(256, 256, 256, 0.2);
    }  
    
    &:focus {
        background-color: rgba(256, 256, 256, 0.2);
        outline: none;
        box-shadow: 0 0 3px 3px white;
    }
}