.cities {
    display: flex;
    /* this can change to row at larger breakpoint*/
    flex-direction: column;
    justify-content: stretch;
    min-width: 100%;
}



.total_score {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    background-size: cover;
    align-items: center;
    height: 5em;
    min-width: 100%;

    &--value {
        background-color: #282c34;
        color: white;
    }

    .reset {
        &:hover {
            background-color: rgba(256, 256, 256, 0.2);
        }  
        
        &:focus {
            background-color: rgba(256, 256, 256, 0.2);
            box-shadow: 0 0 3px 3px white;
        }
    }
}