$border: 0.2rem solid white;
$border-radius: 1em;

.card {
    height: 3.4em;
    border-bottom: 0;
    font-weight: bold;
    width: 30%;
    background-color: lightgray;
    align-self: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-top: $border;
    border-left: $border;
    border-right: $border;
    margin-top: -1.2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 1rem;
    box-shadow: 7px -2px 10px 1px #282c34;
    display: flex;

    &:focus {
        outline: none;
        font-style: underline;
    }
}

.value {
    width: 100%;
    margin-top: -1.3em;
}

.card_yellow {
    background-color: #fff4bf; 
    border-color: #F4BC1C;
    &:hover {
        box-shadow: 7px -2px 10px 1px #F4BC1C;
    }
    &:focus {
        box-shadow: 7px -2px 10px 1px #F4BC1C;
    } 
}
.card_red {
    background-color: #de8373; 
    border-color: #D83A17;
    &:hover {
        box-shadow: 7px -2px 10px 1px #D83A17;
    } 
    &:focus {
        box-shadow: 7px -2px 10px 1px #D83A17;
    } 
}
.card_blue {
    background-color: #99f5ff;
    border-color: #104E8B;
    &:hover {
        box-shadow: 7px -2px 10px 1px #104E8B;
    }  
    &:focus {
        box-shadow: 7px -2px 10px 1px #104E8B;
    } 
}
.card_white {
    background-color: whitesmoke;
    border-color: white;
    &:hover {
        box-shadow: 7px -2px 10px 1px grey;
    }
    &:focus {
        box-shadow: 7px -2px 10px 1px grey;
    } 
}
.card_purple {
    background-color: #b0aaf2; 
    border-color: #5A17D8;
    &:hover {
        box-shadow: 7px -2px 10px 1px #5A17D8;
    }  
    &:focus {
        box-shadow: 7px -2px 10px 1px #5A17D8;
    } 
}
.card_green {
    background-color: #b1ff99; 
    border-color: #0BA13D;
    &:hover {
        box-shadow: 7px -2px 10px 1px #0BA13D;
    } 
    &:focus {
        box-shadow: 7px -2px 10px 1px #0BA13D;
    } 
}

.card--selected {
    background-color: #282c34;
    color: white;
}