$blue-light: #99f5ff;
$blue-dark: #104E8B;
$yellow-light:#fff4bf;
$yellow-dark: #F4BC1C;
$green-light: #b1ff99;
$green-dark: #0BA13D;
$red-light: #de8373;
$red-dark: #D83A17;
$purple-light: #b0aaf2;
$purple-dark: #5A17D8;
$white-light: white;
$white-dark: whitesmoke;
$black-custom: #282C34;