.city {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 11em;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
    flex-wrap: wrap;
    // this should change based on breakpoint 12/16/32
    max-height: 14em;
}

.total {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 4em;
    margin-top: -8em;
    margin-bottom: 0;
}

.city_yellow {
    background-image: url('../../images/yellow_background.jpg') ;
}
.city_red {
    background-image: url('../../images/red_background.jpg');
}
.city_white {
    background-image: url('../../images/white_background.jpg');
}
.city_blue {
    background-image: url('../../images/blue_background.jpg');
}
.city_green{
    background-image: url('../../images/green_background.jpg');
}
.city_purple {
    background-image: url('../../images/purple_background.jpg');
}

.total_yellow {
    background-color: rgba(255, 244, 191, 0.9) ;
}
.total_blue {
    background-color: rgba(153, 245, 255, 0.9) ;
}
.total_green {
    background-color: rgba(177, 245, 153, 0.9) ;
}
.total_red {
    background-color: rgba(222, 131, 115, 0.9) ;
}
.total_white {
    background-color: rgba(245, 245, 245, 0.9) ;
}
.total_purple{
    background-color: rgba(176, 170, 242, 0.9) ;
}
